<template>
  <nav-item-dropdown
    :tooltip="$i18n('menu.tooltips.notifications')"
    no-caret
    right
    class="topbar-bells"
  >
    <template slot="button-content">
      <i class="fas fa-bell" />
      <span
        v-if="unread"
        class="badge badge-danger"
      >
        {{ unread }}
      </span>
    </template>
    <div class="list-group">
      <small
        v-if="!bells.length"
        class="list-group-item text-muted"
      >
        Du hast derzeit keine Benachrichtigungen
      </small>
      <menu-bells-entry
        v-for="bell in bells"
        :key="bell.id"
        :bell="bell"
        @remove="onBellDelete"
        @bellClick="onBellClick"
      />
    </div>
  </nav-item-dropdown>
</template>
<script>
import NavItemDropdown from './NavItemDropdown'
import MenuBellsEntry from './MenuBellsEntry'
import bellStore from '@/stores/bells'
import i18n from '@/i18n'
import { pulseError } from '@/script'
import dateFnsParseISO from 'date-fns/parseISO'

export default {
  components: {
    NavItemDropdown,
    MenuBellsEntry
  },
  computed: {
    bells () {
      return bellStore.bells.map(bell => {
        bell.createdAt = dateFnsParseISO(bell.createdAt)
        return bell
      })
    },
    unread () {
      return bellStore.unreadCount
    }
  },
  created () {
    bellStore.loadBells()
  },
  methods: {
    async onBellDelete (id) {
      try {
        await bellStore.delete(id)
      } catch (err) {
        pulseError(i18n('error_unexpected'))
      }
    },
    async onBellClick (bell) {
      if (!bell.isRead) {
        try {
          await bellStore.markAsRead(bell)
        } catch (err) {
          pulseError(i18n('error_unexpected'))
        }
      }

      window.location.href = bell.href
    }
  }
}
</script>
<style lang="scss">
.topbar-bells {
    .dropdown-menu {
        width: 250px;
        padding: 0;
    }
}
</style>
